<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="66d0a9">  <td>21/04/23 13:22:07</td>   <td>0</td> <td title="&gt;&gt;Base.setup()[pri:0, instance:testCases.TestAlart@5b07730f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1639765351</td>   <td></td> </tr>
<tr bgcolor="66d0a9">  <td>21/04/23 13:22:16</td>   <td>9591</td> <td title="&lt;&lt;Base.tearDown()[pri:0, instance:testCases.TestAlart@5b07730f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1639765351</td>   <td></td> </tr>
<tr bgcolor="9dd57e">  <td>21/04/23 13:22:09</td>   <td>1877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAlart.testAlart()[pri:0, instance:testCases.TestAlart@5b07730f]">testAlart</td> 
  <td>main@1639765351</td>   <td></td> </tr>
</table>
